.auction-wrapper {
	width: 80%;
	margin: 0 auto;
	margin-top: 60px;
}

.auction-page-title {
	font-weight: 700;
	font-size: 32px;
	color: rgba(0, 0, 0, 0.87);
	margin-bottom: 50px;
}

.auction-page-all-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
