.zxc {
	display: flex !important;
	align-items: center;
}

.qwe {
	margin-right: 10px;
}

.rqw {
	width: 640;
	height: 480;
}

.cxz {
	display: flex !important;
	align-items: center;
	margin-bottom: 20px;
	font-size: 2em;
}
